.secao {
  display: grid;
}

.secao-horizontal {
  grid-template-rows: 120px auto;
}

.secao-horizontal .cartao {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1.25rem;
}

.secao__cartoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.secao-vertical {
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 2fr;
}

.secao-vertical .secao__cartoes {
  grid-column: 1/3;
}
